.default-deadline-container {
  display: flex;
  gap: 1rem;
}
.default-deadline-container > button {
  font-size: 0.75em;
  font-weight: 300;
  flex: 1;
  background: var(--bg-light);
  color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.submit {
  background: var(--submit-green);
  color: var(--submit-text-clr);
}

.cancel {
  background: var(--delete-red);
  color: var(--delete-text-clr);
}

