.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "header header"
    "nav body";
}

h1 {
  text-align: center;
  grid-area: header;
}

a {
  all: unset;
  display: block;
  padding: 1rem;
}

nav {
  background: var(--bg-dark);
  height: 100%;
  box-shadow: var(--shadow-right);
  grid-area: nav;
}

nav > * {
  cursor: pointer;
  padding: 1rem;
}

.nav-header {
  display: flex;
}

.main {
  grid-area: body;
}




