html,
body {
  height: 100vh;
  background: var(--bg-darkest);
  color: var(--text-lightest);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

button {
  cursor: pointer;
}
