.floating-buttons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.floating-buttons > * {
  all: unset;
  aspect-ratio: 1;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  background: var(--bg-dark);
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.floating-buttons > *:hover {
  background: var(--bg);
}
.floating-buttons > *:active {
  background: var(--bg-darkest);
}
.floating-buttons img {
  height: 0.875em;
}

ul {
  all: unset;
  list-style-type: none;
}

.body > div > * {
  display: inline-block;
}

details {
  all: unset;
  display: block;
  background: #333;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.body {
  margin-top: 1rem;
  font-size: 0.75em;
}

.body > div > div {
  margin-left: 1ch;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}
.actions > button {
  all: unset;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
}
.actions > button.mark-done {
  background: var(--submit-green);
  color: var(--submit-text-clr);
}
.actions > button.mark-done:hover {
  background: var(--submit-green-hover);
}
.actions > button.mark-done:active {
  background: var(--submit-green-active);
}
.actions > button.reopen {
  background: var(--reopen-blue);
  color: var(--reopen-text-clr);
}
.actions > button.reopen:hover {
  background: var(--reopen-blue-hover);
}
.actions > button.reopen:active {
  background: var(--reopen-blue-active);
}
.actions > button.delete {
  background: var(--delete-red);
  color: var(--delete-text-clr);
}
.actions > button.delete:hover {
  background: var(--delete-red-hover);
}
.actions > button.delete:active {
  background: var(--delete-red-active);
}

summary {
  list-style: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
}

summary .timeline.severe {
  color: red;
}
summary .timeline.warning {
  color: orange;
}
summary .timeline.ok {
  color: green;
}

summary .name h2 {
  margin: 0;
  font-size: inherit;
  display: inline-block;
}

ul.tag-list {
  display: block;
}

ul.tag-list > li {
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0 0.125rem;
  display: inline-block;
  font-size: 0.75em;
  background: var(--submit-green);
  color: var(--submit-text-clr);
  margin-top: 0.75rem;
}

